* {
    margin: 0;
    padding: 0;
    
}
body {
    overflow-x: hidden;
    width: 100%;
   position: relative;
}
:root {
    --COLOR-01---: #1668b1;
    --COLOR-02---: #000000;
    --COLOR-03---: #ff9532;
    --COLOR-04---: #ffffff;
    --COLOR-05---: #ff8f15;
    --COLOR-06---: #F5F5F5;

}

:root {
    --color-neutral-0: #f57308;
    --color-neutral-10: #eeeeee;
    --color-neutral-30: #939393;
    --color-neutral-40: #f5f5f5;
}

.Nav-bar {
    background-color: #000000;
    height: 80px;
    margin-bottom: 40px;
}

.Topo {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
}

/* .Botao_Topo {
    width: 270px;
    height: 50px;
    margin-left: 490px;
    margin-right: 30px;
    margin-top: 15px;
    border: 3px solid darkblue;
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.2s;
    padding-bottom: 5px;

} */

/* .Botao_Topo:hover {
    border-color: #1668b1;

} */

.Topo h1 {
    margin-left: 20px;
}

.Logo {
    height: 80px;
    width: 100px;
}

a {
    text-decoration: none;
    font-size: 18pt;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

a:hover {
    color: #1668b1;
}

.BodyHome {
    display: flex;
    margin-top: 100px;
    margin-bottom: 60px;
}

.Texto {
    width: 450px;
    margin-left: 10px;
    font-size: 17pt;
    text-align: justify;
    margin-right: 100px;

}

.Texto h1 {
    font-size: 25pt;
}

.ImgTexto {
    height: 350px;
    width: 550px;
}

.Tipos_De_Investimentos_Content {
    text-align: center;
    margin-top: 30px;

}

.Tipos_De_Investimentos_Content h1 {
    font-size: 25pt;
    font-weight: 700;
}

.Tipos_De_Investimentos_Content p {
    margin-top: 20px;
    font-size: 17pt;
    margin-bottom: 20px;
    text-align: justify;
}

.slider {
    /* margin 0 emcima e embaixo, auto para left e rigth*/
    margin: 0 auto;
    margin-left: 95px;
    width: 940px;
    height: 300px;
    /* Para desaparecer as outras imagens por causa passou do width e heigt */
    overflow: hidden;
    margin-bottom: 100px;
}

.slides {
    width: 2540px;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}


.Card {
    position: relative;
    height: 300px;
    width: 300px;
    background-color: #a70f0f;
    margin-right: 20px;
    border-radius: 20px;
}

.Carrossel_Link {
    display: flex;
    justify-content: end;
    margin-top: 120px;
    margin-right: 20px;
    transition: 0.3s;
}

.Carrossel_Link02 {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    transition: 0.3s;
    margin-top: 55px;
}

.Carrossel_Link03 {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    transition: 0.3s;
    margin-top: 90px;
}

.Carrossel_Link:hover {
    color: #159A9C;
}
.Carrossel_Link02:hover {
    color: #159A9C;
}
.Carrossel_Link03:hover {
    color: #159A9C;
}

.TextoImage {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
}

.TextoImage p {
    font-size: 16pt;
}

.TextoImage h1 {
    font-size: 23pt;
    font-weight: 700;
}

.ManualNavigation {
    position: absolute;
    width: 900px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.Manual-Btn {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/* aplique na CLASSE Menos No utimo item  */
.Manual-Btn:not(:last-child) {
    margin-right: 60px;
}

.Manual-Btn:hover {
    background-color: blue;
}

/* Quando ele tiver ativo */
#RadioButton01:checked~.first {
    margin: 0;
    margin-right: 20px;
}

#RadioButton02:checked~.first {
    /* Para segunda img volta: */
    margin-left: -640px;
}

#RadioButton03:checked~.first {
    /* Para terceira img volta: */
    margin-left: -960px;
}

#RadioButton04:checked~.first {
    /* Para quarta img volta: */
    margin-left: -1600px;
}

.NavigationAuto div {
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.NavigationAuto {
    position: absolute;
    width: 1000px;
    margin-top: 320px;
    display: flex;
    justify-content: center;
    
}

/* Imgs Carroussel */
#img01 {
    background-image: url(Imagens/RendaFixa.jpg);
}

#img02 {
    background-image: url(Imagens/RendaVariavel.png);
}

#img03 {
    background-image: url(Imagens/TesouroDireto.jpg);
}

#img04 {
    background-image: url(Imagens/Criptomoeda.jpg);
}

#img05 {
    background-image: url(Imagens/FundoDeInvestimento.png);
}

#img06 {
    background-image: url(Imagens/PrevidanciaPrivada.jpg);
}

#img07 {
    background-image: url(Imagens/OfertasPublicas.jpg);
}

#img08 {
    background-image: url(Imagens/COE.png);
}

.NavigationAuto div:not(:last-child) {
    margin-right: 60px;
}

/* Quando radiobutton01 tiver ativo seu irmao navigationauto onde .auto-btn01 seu fundo  */
#RadioButton01:checked~.NavigationAuto .Auto-Btn01 {
    background-color: #1668b1;
}

#RadioButton02:checked~.NavigationAuto .Auto-Btn02 {
    background-color: #1668b1;
}

#RadioButton03:checked~.NavigationAuto .Auto-Btn03 {
    background-color: #1668b1;
}

#RadioButton04:checked~.NavigationAuto .Auto-Btn04 {
    background-color: #1668b1;
}

.MobileAUTObtn{
    display: none;
}
#MobileAUTObtn{
    display: none;
}
.FooterContent {
    background-color: rgb(112, 82, 82);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
    background-color: #000000;
}

.footer_social_media {
    display: flex;
    margin-right: 20px;
    margin-left: -20px;
    margin-top: 1.5rem;
}

.footer_social_media .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17px;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer_link i {
    font-size: 1.5rem;
}

#footer_social_media .footer_link:hover {
    opacity: 0.8;

}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992);
}

#facebook {
    background: #4267b3;
}

#whatsapp {
    background: #25d366;
}

.Footer-List {
    list-style: none;
    font-size: 4pt;
}

#footer_subscribe p {
    color: var(--COLOR-04---);
    margin-left: 40px;

}

#input_group {
    display: flex;
    margin-left: 35px;
    margin-right: 30px;
    background-color: var(--COLOR-04---);
    border-radius: 6px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: darkblue;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 0.7rem;
    font-size: 40px;
    height: 100%;
    border: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;

}

#input_group button:hover {
    opacity: 0.9;
}
#Titulo_SUBSCRIBE{
    margin-left: 35px;
}
/* frase copyright */
#footer_copyright {
    justify-content: center;
    background-color: darkblue;
    color: white;
    font-size: 0.9rem;
    font-weight: 100;
}

@media screen and (min-width:200px) and (max-width:400px) {

    html,body {
        width: 100%;
        overflow-x: hidden;
    }
    .Nav-bar{
        box-shadow: 0 9px 9px rgb(136, 136, 136);
    }
    .Botao_Topo {
        display: block;
    }

    .Topo .Logo {
        height: 60px;
        width: 70px;
        margin-top: 10px;
        margin-left: -20px;
    }

    .Tabela {
        overflow-x: auto;
        font-size: 9pt;
    }

    .BodyHome {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .Texto {
        font-size: 14pt;
        width: 280px;
        margin-top: -10px;
        font-weight: 600;
    }

    .BodyHome h1 {
        font-size: 19px;
        font-weight: 800;
    }

    .ImgTexto {
        margin-top: 25px;
        height: 300px;
        width: 100%;
        margin-bottom: -10px;
    }
    .MobileAUTObtn{
        display: block;
    }
    #MobileAUTObtn{
        display: block;
    }
    .Tipos_De_Investimentos_Content {
        width: 310px;
    }

    .Tipos_De_Investimentos_Content h1 {
        text-align: left;
        font-size: 18pt;
        font-weight: 800;
    }

    .Tipos_De_Investimentos_Content p {
        
        font-size: 14pt;
        font-weight: 500;
    }
    #Carrossel_Link04 {
        margin-top: 90px;
    }

    .slider {
        margin-left: -3px;
        margin-bottom: 50px;
        margin-top: 10px;
       
    }

    .slides {
        width: 2540px;
        height: 400px;
        display: flex;
    }

    .Card {
        width: 280px;
    }
    .ManualNavigation {
        position: absolute;
        margin-left: -295px;
        display: none;
    }
    
    .Manual-Btn {
        border: 2px solid blue;
        padding: 3px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    /* aplique na CLASSE Menos No utimo item  */
    .Manual-Btn:not(:last-child) {
        margin-right: 10px;
    }
    .NavigationAuto div {
    border: 2px solid rgb(0, 0, 0);
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.NavigationAuto {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: -345px;
    display: none;
}
.NavigationAuto div:not(:last-child) {
    margin-right: 10px;
}
     #RadioButton01:checked~.first {
        margin: 0;
        margin-right: 20px;
        transition: 2s;
    }

    #RadioButton02:checked~.first {
        /* Para segunda img volta: */
        margin-left: -300px; transition: 2s;
    }

    #RadioButton03:checked~.first {
        /* Para terceira img volta: */
        margin-left: -600px; transition: 2s;
    }

    #RadioButton04:checked~.first {
        /* Para quarta img volta: */
        margin-left: -900px; transition: 2s;
    }
    #RadioButton05:checked~.first {
        margin-left: -1200px; transition: 2s;
    }

    #RadioButton06:checked~.first {
        /* Para segunda img volta: */
        margin-left: -1500px; transition: 2s;
    }

    #RadioButton07:checked~.first {
        /* Para terceira img volta: */
        margin-left: -1800px; transition: 2s;
    }

    #RadioButton08:checked~.first {
        /* Para quarta img volta: */
        margin-left: -2100px; transition: 2s;
    }
    /* Cor  */
    #RadioButton01:checked~.NavigationAuto .Auto-Btn01 {
        background-color: #1668b1;
    }
    
    #RadioButton02:checked~.NavigationAuto .Auto-Btn02 {
        background-color: #1668b1;
    }
    
    #RadioButton03:checked~.NavigationAuto .Auto-Btn03 {
        background-color: #1668b1;
    }
    
    #RadioButton04:checked~.NavigationAuto .Auto-Btn04 {
        background-color: #1668b1;
    }
    #RadioButton05:checked~.NavigationAuto .Auto-Btn05 {
        background-color: #1668b1;
    }
    
    #RadioButton06:checked~.NavigationAuto .Auto-Btn06 {
        background-color: #1668b1;
    }
    
    #RadioButton07:checked~.NavigationAuto .Auto-Btn07 {
        background-color: #1668b1;
    }
    
    #RadioButton08:checked~.NavigationAuto .Auto-Btn08 {
        background-color: #1668b1;
    }
    
    
    .FooterContent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .FooterContacts {
        margin-left: -80px;
        display: flex;
    }

    .Footer-List {
        margin-left: -70px;
        margin-top: 30px;
        font-size: 14pt;
    }

    #Titulo_SUBSCRIBE {
        margin-left: -38px;
    }

    #footer_subscribe p {
        margin-left: -35px;
        width: 240px;
    }

    #input_group {
        margin-left: -35px;
        width: 270px;
        height: 50px;
    }

    #input_group button {
        font-size: 30px;
    }

    .footer_social_media .footer_link {
        height: 2rem;
        width: 2rem;
        margin-left: 10px;
        margin-top: -5px;
    }

    .FooterContacts .Logo {
        margin-right: 80px;
        margin-bottom: -15px;
        margin-left: 30px;

    }

    .FooterContacts {
        margin-top: -20px;
    }

    .input {
        border-radius: 0px 10px 10px 0px;
        border: 1px solid #9c9292;
        padding-left: 5px;
        outline:none;
    }

    .input:hover {
        color: #939393;
        border-color: rgb(151, 149, 149);
    }

    ::placeholder {
        font-size: 10pt;
        padding-left: 5px;
    }

    .form {
        border-color: #1a1818;
        border-radius: 0px;

    }

    .Footer-List a {
        font-size: 12pt;
        margin-left: 5px;
    }

    .Footer-List h2 {
        margin-bottom: 5px;
    }

    .btnCalc {
        margin-right: 10px;
    }

    hr {
        color: wheat;
        font-weight: 600;
    }
}

@media screen and (min-width:400px) and (max-width:575px) {

    html,body {
        width: 100%;
        overflow-x: hidden;
    }

    .Tabela {
        overflow-x: auto;
    }

    .BodyHome {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        
    }
    .Texto{
        width: 375px;
    }
    .Texto h1{
        font-size: 21pt;
    }
    .ImgTexto {
        margin-top: 15px;
        height: 300px;
        width: 100%;
        margin-bottom: -15px;
    }

    .FooterContent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .FooterContacts {
        margin-left: -40px;
        display: flex;
    }

    .Footer-List {
        margin-left: -70px;
        margin-top: 30px;
        font-size: 14pt;
    }

    #Titulo_SUBSCRIBE {
        margin-left: -40px;
    }

    #footer_subscribe p {
        margin-left: -40px;
        width: 240px;
    }

    #input_group {
        margin-left: -40px;
        width: 270px;
        height: 50px;
    }

    #input_group button {
        font-size: 30px;
    }

    .footer_social_media .footer_link {
        height: 2rem;
        width: 2rem;
        margin-left: 10px;
        margin-top: -5px;
    }

    .FooterContacts .Logo {
        margin-right: 80px;
        margin-bottom: -20px;
        margin-left: -10px;

    }

    .FooterContacts {
        margin-top: -20px;
    }

    .input {
        border-radius: 0px 10px 10px 0px;
        border: 1px solid #9c9292;
        padding-left: 5px;
        width: 300px;
    }

    .input:hover {
        color: #939393;
        border-color: #979494;
    }

    ::placeholder {
        font-size: 10pt;
        padding-left: 5px;
    }

    .form {
        width: 100%;
        border-color: #000000;
        border-radius: 0px;

    }

    .Footer-List h2 {
        margin-bottom: 5px;
    }

    .Footer-List a {
        font-size: 13pt;
        margin-top: 15px;
    }

    .btnCalc {
        margin-right: 10px;
    }

    hr {
        color: wheat;
        font-weight: 600;
    }
    .Tipos_De_Investimentos_Content h1 {
        font-size: 21pt;
        text-align: left;
    }

    .MobileAUTObtn{
        display: block;
    }
    #MobileAUTObtn{
        display: block;
    }
    .ManualNavigation {
        margin-left: -250px;
        display: none;
    }
    .Manual-Btn:not(:last-child) {
        margin-right: 20px;
    }
    .NavigationAuto {
        margin-left: -300px;
        display: none;
    }
    .NavigationAuto div:not(:last-child) {
        margin-right: 20px;
    }
    
    .slider{
        margin-left: 1px;
    }
    .Card{
        width: 280px;
    }
    
    #RadioButton01:checked~.first {
        margin: 0;
        margin-right: 20px;
        transition: 2s;
    }

    #RadioButton02:checked~.first {
        /* Para segunda img volta: */
        margin-left: -300px; transition: 2s;
    }

    #RadioButton03:checked~.first {
        /* Para terceira img volta: */
        margin-left: -600px; transition: 2s;
    }

    #RadioButton04:checked~.first {
        /* Para quarta img volta: */
        margin-left: -900px; transition: 2s;
    }
    #RadioButton05:checked~.first {
        margin-left: -1200px; transition: 2s;
    }

    #RadioButton06:checked~.first {
        /* Para segunda img volta: */
        margin-left: -1500px; transition: 2s;
    }

    #RadioButton07:checked~.first {
        /* Para terceira img volta: */
        margin-left: -1800px; transition: 2s;
    }

    #RadioButton08:checked~.first {
        /* Para quarta img volta: */
        margin-left: -2100px; transition: 2s;
    }
    #input_group {
        margin-left: -20px;
        width: 330px;
        height: 50px;
    }

    #footer_subscribe p {
        margin-left: -20px;
        width: 280px;
    }

    .FooterContacts .Logo {
        margin-right: 140px;
        margin-left: 10px;
    }

    .Footer-List {
        margin-left: -48px;
    }

    #Titulo_SUBSCRIBE {
        margin-left: -20px;
    }
}
@media screen  and (min-width:768px) and (max-width:820px) {

    html,body {
        width: 100%;
        overflow-x: hidden;
    }
    .BodyHome{
        margin-top: -20px;
        display: flex;
        flex-direction: column;
    }
    .Texto{
        width: 98%;
    }
    .Texto h1{
        font-size: 28pt;
    }
    .Texto p{
        font-size: 23pt;
    }
    .ImgTexto{
        width: 100%;
    }
    .slider{
        margin-left: -2px;
    }
    /* Quando ele tiver ativo */
#RadioButton01:checked~.first {
    margin: 0;
    margin-right: 20px; transition: 2s;
}

#RadioButton02:checked~.first {
    /* Para segunda img volta: */
    margin-left: -640px;  transition: 2s;
}

#RadioButton03:checked~.first {
    /* Para terceira img volta: */
    margin-left: -960px;  transition: 2s;
}

#RadioButton04:checked~.first {
    /* Para quarta img volta: */
    margin-left: -1600px;  transition: 2s;
}
.Manual-Btn{
    display: none;
}
.NavigationAuto{
    display: none;
}
.Tipos_De_Investimentos_Content h1{
    font-size: 29pt;
}
.Tipos_De_Investimentos_Content p{
    font-size: 24pt;
}
}